<head>
</head>
<style>
</style>

<body>
	<div class="loginwrapper">
		<div class="loginheader">
			<h2>Please Login</h2>
		</div>
		<div class="loginform">
			<form action="/login" method="post">
    			Username:<input type="text" name="username">
    			Password:<input type="password" name="password">
    					 <input type="submit" value="Login">
			</form>
		</div>

	</div>



</body>
